# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# geral
node_modules
dist
dist-ssr
*.local
.turbo

#api
./apps/api/.env
./apps/api/.env.development.local
./apps/api/.env.test.local
./apps/api/.env.production.local
./apps/api/.env.local
./apps/api/logs
./apps/api/*.log
./apps/api/npm-debug.log*
./apps/api/yarn-debug.log*
./apps/api/yarn-error.log*
./apps/api/pnpm-debug.log*
./apps/api/lerna-debug.log*


#web
./apps/web/logs
./apps/web/*.log
./apps/web/npm-debug.log*
./apps/web/yarn-debug.log*
./apps/web/yarn-error.log*
./apps/web/pnpm-debug.log*
./apps/web/lerna-debug.log*