# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# geral
node_modules
dist
dist-ssr
*.local
.turbo
.env

#api
./apps/api/.env
./apps/api/.env.development.local
./apps/api/.env.test.local
./apps/api/.env.production.local
./apps/api/.env.local
./apps/api/logs
./apps/api/*.log
./apps/api/npm-debug.log*
./apps/api/yarn-debug.log*
./apps/api/yarn-error.log*
./apps/api/pnpm-debug.log*
./apps/api/lerna-debug.log*
./apps/api/generated/prisma

#web
./apps/web/logs
./apps/web/*.log
./apps/web/npm-debug.log*
./apps/web/yarn-debug.log*
./apps/web/yarn-error.log*
./apps/web/pnpm-debug.log*
./apps/web/lerna-debug.log*
apps/api/generated/prisma/client.d.ts
apps/api/generated/prisma/client.js
apps/api/generated/prisma/default.d.ts
apps/api/generated/prisma/default.js
apps/api/generated/prisma/edge.d.ts
apps/api/generated/prisma/edge.js
apps/api/generated/prisma/index.d.ts
apps/api/generated/prisma/index.js
apps/api/generated/prisma/index-browser.js
apps/api/generated/prisma/package.json
apps/api/generated/prisma/query_engine-windows.dll.node
apps/api/generated/prisma/schema.prisma
apps/api/generated/prisma/wasm.d.ts
apps/api/generated/prisma/wasm.js
apps/api/generated/prisma/runtime/edge.js
apps/api/generated/prisma/runtime/edge-esm.js
apps/api/generated/prisma/runtime/index-browser.d.ts
apps/api/generated/prisma/runtime/index-browser.js
apps/api/generated/prisma/runtime/library.d.ts
apps/api/generated/prisma/runtime/library.js
apps/api/generated/prisma/runtime/react-native.js
apps/api/generated/prisma/runtime/wasm.js
apps/api/prisma/schema.prisma
